.THIS #showDetailsButton:active {
    border-color:rgba(255,255,255,0);
}
.THIS #showDetailsButton:focus {
    box-shadow:0 0 0 rgb(255,255,255);
}

.THIS #showDetailsButton:focus-visible {
    outline:0;
}